/* header */
header{
	background-color:chocolate;
	width:100%;
	min-height:90px;
}

.logo, .sub-logo{
	color:white;
	font-weight:bold;
	font-size:38px;
	text-decoration:none;
}

.sub-logo{
	font-size:18px;
}
/* end */

/* footer */
footer{
	background-color:chocolate;
	width:100%;
	min-height:80px;
	position:absolute;
}
/* end */

/* table */
td{
	width:100%;
}
#table-detail{
	overflow-y:auto;
	max-height:200px;
	width:100%;
}
#total{
	border-top:1px solid black;
}
/* end */

/* body */
#trash, #order, #item{
    min-height:70px;
    padding:10px;
    border:3px solid chocolate;
    text-align:center;
}
#order{
	display:flex;
    flex-direction:column-reverse;
    min-height:10px;
    padding-bottom:100px;
	align-items:center;
	min-height:300px;
}
#item{
	height:230px;
}
.det{
	font-weight:bold;
}
.desc{
	color:chocolate;
	font-weight:bold;
	margin-top:20px;
}
.slide{
	display:none;
}
/* end */


/* button */
button{
	background-color:chocolate;
	color:white;
	height:30px;
	cursor:pointer;
	border:none;
	width:100%;
}
button:hover{
	font-weight:bold;
}
.prev, .next {
  	cursor:pointer;
  	padding:16px;
  	color:chocolate;
  	font-weight:bold;
  	font-size:22px;
  	transition:0.6s ease;
  	position:absolute;
  	border-radius:0 3px 3px 0;
}
.prev{
	left:0;
}
.next{
	right:0;
}
.prev:hover, .next:hover {
	color:white;
  	background-color:chocolate;
}
/* end */


/* image */
#order div img{
	width:200px;
	height:130px;
}

#order img{
	margin-bottom:-100px;
}

#order:hover img{
	margin-bottom:-70px;
}

.scale:hover{
	width:220px;
	height:140px;
	margin-top:30px;
	z-index:5;
	filter:brightness(130%);
    -webkit-filter:brightness(130%);
}
/* end */